*{
  margin: 0;
  padding: 0;
}


body{
  background-color: #141414;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}
.App{
  display: grid;
  grid-template-columns: auto 1fr ;
  grid-template-rows: auto auto auto;
  
  Footer{

    grid-column: 1/3;
    background-color: #393939;
    img{
      display:block;
      margin-right: auto;
      margin-left: auto;
    }
   }
}

nav {

grid-row: 2;
grid-column: 1;
  list-style-type: none;
  background-color:#0A1D1C;
  width: 200px;
  color: #00f9b6;
  border: solid 1px #00f9b6;
  margin: 1em;
  
  }
  ul {
  list-style-type: none ;
    a{
    
      color: #00f9b6;
      padding: 16px 16px;
      display: block;
      text-align: center;
      text-decoration: none;
    a:Hover{
      background-color: rgb(197, 195, 195);
    }
    }


.DropContent{
  display: none;
}
.DropContent a{
margin-left: 70px;
  text-decoration: none;
  
}

.DropDown:Hover .DropContent{
  display: block;
}
}


header{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: 60px;
  margin-bottom: 40px;
  margin-top: 20px;
 

  .logo{
    height: 100%;
    justify-self: end;
  }
  

}


.header-links{
  border: solid 1px;
  display: inline-block;

  ul{
  
    li{
      display: inline-block;
    
    a{
      display: block;
      color: white;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
    }
    a:hover{
      background-color: #f0f1f1;
    }
  

  }
  }
  .login{
    background-color: #00f9b6;
    border-radius:5px ;
    font-size: 14px;
    height: 30px;
    width: 50px;
    padding: 5px;
    margin: 12px;
    a{
      color: black;
      padding: 0;
      margin-top: 3px;
   
    }
  }
}

.Sog{
margin-left: 15px;

  input{
    background-color: #0A1D1C;
    border: solid 1px #00f9b6;
    padding: 10px;
    color: #00f9b6;
    border-radius:5px ;
    height: 40px;
  }
  button{
    background-color: #00f9b6;
    color: #0A1D1C;
    margin-left: 20px;
    border-radius:5px ;
    border: solid 1px #1f5e5b;
    height: 60px;
    width: 50px;
  }
}

.hero-header{
width: 1310px;
  img{
  width: 100%;
  height: 50px;
  
}}

.Tekst{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(auto);

button{
  background-color:#D10361;
  color: white;
  border: none;
}
}

.Banana{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
justify-self: end;
border: solid 1px #00f9b6;

button{
  background-color:#D10361;
  color: white;
  border: none;
  border-radius: 2px;
  height: 40px;
  width: 100px;
}
img{
  height: 200px;
  width: 400px;
  padding: 20px;

}
}

.Kiwi{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
justify-self: end;
border: solid 1px #00f9b6;

button{
  background-color:#D10361;
  color: white;
  border: none;
  border-radius: 2px;
  height: 40px;
  width: 100px;
}
img{
  height: 200px;
  width: 400px;
  padding: 20px;

}

}


.login-fecth, .logud{

  input{
    background-color: #0A1D1C;
    border: solid 1px #00f9b6;
    padding: 10px;
    color: #00f9b6;
  }
  .knap-knap, .logud-knap{
    background-color: #00f9b6;
    color: #1f5e5b;
    font-weight: bold;
    margin-top: 1em;
  }

  .logud-knap{
    padding: 10px;
    border: solid 1px #00f9b6;
  }
}
.login3{
  margin-left: 50px;
}


.fa-shopping-basket{
  color: white;
  margin-left: 25px;
}
.fa-phone-alt{
  margin-left: 20px;
}
.fa-envelope{
  margin-left: 15px;
}
.fa-cc-mastercard, .fa-cc-visa{
  color: white;
  margin-left: 8px;
  font-size: 25px;
 
}
.tilføj{
  display: grid;
grid-template-rows:  repeat(1fr);
 border: solid 2px #00f9b6;
 padding: 3px;

}


.form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;

  input{
    border-radius: 4px;
    border-color: #00f9b6;
    background-color: #0A1D1C;
    color: black;
    margin: 0px; 
    padding: 2px ;
  }
  select{
    border-radius: 1em;
    border-color: #00f9b6;
    color: #00f9b6;
  }
  .TAl{
    border-radius: 4px;
    background-color: #00f9b6;
    color: black;
    height: 50px;
    width: 150px;
  }

}

.row{
  display: grid;
  grid-template-rows: auto;
  border: solid 1px #00f9b6;
  background-color: #0A1D1C;
  width: 300px;
  padding: 15px; 

  input{
    background-color: #141414;
  }

}

.Ordrebekræftelse{
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows: auto;
  justify-self: center;
  border: solid 0.1px #00f9b6;
  background-color: #0A1D1C;
  width: 300px;



  button{
    background-color: #00f9b6;
    border: 0px ;
    height: 50px;
    width: 200px;
    border-radius: 5px;
   
  }
}

.Pære{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto;
  margin: 30px;

img{
  height: 100px;
  width: 400px;
  

}
}

.Text{

  display: grid;
  grid-template-columns: 1fr 1fr ;

  .img{
   
        width: 100;
        height: 200px;
        background-color: white;
  }
}