*{
  margin: 0;
  padding: 0;
}


body{
  background-color: #141414;
  font-family: 'Titillium Web', sans-serif;
}
nav {
  list-style-type: none;
  background-color:#0A1D1C;
  width: 200px;
  color: #00f9b6;
  
  }
  ul {
  
    a{
    
      color: #00f9b6;
      padding: 16px 16px;
      display: block;
      text-align: center;
      text-decoration: none;
    a:Hover{
      background-color: rgb(197, 195, 195);
    }
    }


.DropContent{
  display: none;
}
.DropContent a{

  text-decoration: none;
  display: block;
}

.DropDown:Hover .DropContent{
  display: block;
}

}
